<!-- Social Icons -->
<ul class="icons">
  {%- if site.portfolio_url -%}
  <li><a href="{{- site.portfolio_url -}}" class="icon-b"><img src="assets/images/lindazhanghf_logo.png" alt="Ziyin's Portfolio Logo" style="width:3em;height:3em;"><span class="label">Portfolio</span></a></li>
  {%- endif -%}
  {%- if site.dwig_url -%}
  <li><a href="{{- site.dwig_url -}}" class="icon-b"><img src="assets/images/dwig_logo_minimal.png" alt="Logo of Digital World & Image Group" style="width:3em;height:3em;"><span class="label">DWIG</span></a></li>
  {%- endif -%}
  {%- if site.twitter_url -%}
  <li><a href="{{- site.twitter_url -}}" class="icon-b icon-social fa-twitter"><span class="label">Twitter</span></a></li>
  {%- endif -%}
  {%- if site.facebook_url -%}
  <li><a href="{{- site.facebook_url -}}" class="icon-b icon-social fa-facebook-f"><span class="label">Facebook</span></a></li>
  {%- endif -%}
  {%- if site.googleplus_url -%}
  <li><a href="{{- site.googleplus_url -}}" class="icon-b icon-social fa-google-plus-g"><span class="label">Google Plus</span></a></li>
  {%- endif -%}
  {%- if site.instagram_url -%}
  <li><a href="{{- site.instagram_url -}}" class="icon-b icon-social fa-instagram"><span class="label">Instagram</span></a></li>
  {%- endif -%}
  {%- if site.linkedin_url -%}
  <li><a href="{{- site.linkedin_url -}}" class="icon-b icon-social fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
  {%- endif -%}
  {%- if site.github_url -%}
  <li><a href="{{- site.github_url -}}" class="icon-b icon-social fa-github"><span class="label">GitHub</span></a></li>
  {%- endif -%}
  {%- if site.stackoverflow_url -%}
  <li><a href="{{- site.stackoverflow_url -}}" class="icon-b icon-social fa-stack-overflow"><span class="label">StackOverflow</span></a></li>
  {%- endif -%}
  {%- if site.pinterest_url -%}
  <li><a href="{{- site.pinterest_url -}}" class="icon-b icon-social fa-pinterest"><span class="label">Pinterest</span></a></li>
  {%- endif -%}
  {%- if site.slack_url -%}
  <li><a href="{{- site.slack_url -}}" class="icon-b icon-social fa-slack-hash"><span class="label">Slack</span></a></li>
  {%- endif -%}
  {%- if site.dribbble_url -%}
  <li><a href="{{- site.dribbble_url -}}" class="icon-b icon-social fa-dribbble"><span class="label">Dribbble</span></a></li>
  {%- endif -%}
  {%- if site.email -%}
  <li><a href="mailto:{{- site.email -}}" class="icon icon-social fa-envelope"><span class="label">Email</span></a></li>
  {%- endif -%}
</ul>
